{% extends "base.html" %}
{% block content %}
    <div class="shopping_cart">
    <h2>Shopping cart</h2>
    {% if cart_items|length < 1 %}
        <div>Your cart is empty!</div>
        <a href="{% url 'store_index' %}"><button class="btn btn-primary">Go to store</button></a>
    {% else %}
    {% for item in cart_items %}
        <div class="cart_item">
            <img id="cart_image" src="{{ item.image }}" alt="">
            <h5 id="prod_name">{{ item.product }} </h5>
            <p id="quantity">price:  {% widthratio item.price 1 item.quantity %} quantity: {{ item.quantity }}</p>
        </div>
    {% endfor %}
        <h5>total: {{ total }}</h5>
    <a href="checkout/payment" class="btn btn-primary">Pay Now!</a>
        <form method="post" action="{% url "clear_cart" %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit"> clear cart</button>
        </form>
    {% endif %}
    </div>
{% endblock %}