{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="storeIndex">
        <div class="filter sticky">
            <div class="radio">
                <label><input class="checkbox" type="checkbox" name="Game" >Game</label>
            </div>
            <div class="radio">
                <label><input class="checkbox" type="checkbox" name="Console">Console</label>
            </div>
            <div class="slider">
                <input id="slider" value="35000" class="border-0" type="range" min="15000" max="35000" />
                <p id="slider_info">
                    35000
                </p>
            </div>
        </div>

    <div id="container" class="container">

        <div class="row">

        {% for product in products  %}
            <div class="card col-3">
              <img class="card-img-top cardimg" src=" {% static product.image  %}" alt="Card image cap">
              <div class="card-body border-top">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">price: {{ product.price }}</p>
                <a href="product/{{ product.id }}" class="btn btn-primary">more details</a>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% endfor %}
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="{% static "javascript/filter.js" %}"></script>
{% endblock %}