{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="storeIndex">
        <div class="filter">
            <div class="radio">
                - Type - <br>
                <label><input class="checkbox check-box-type" type="checkbox" name="Game" > Game</label>
            </div>
            <div class="radio">
                <label><input class="checkbox check-box-type" type="checkbox" name="Console"> Console</label>
            </div>
            <div id="manufacturers">
                - Manufacturers -
                {% for manufacturer in manufacturers %}
                    <label><input class="checkbox check-box-manufacturer" type="checkbox" name="{{ manufacturer.name }}"> {{ manufacturer.name }}</label>
                {% endfor %}
            </div>
            <div class="slider">
                <input id="slider" step="500" class="border-0" type="range" />
                <p id="slider_info">0</p>
            </div>
            <select id="sort_by">
                <option value="name" id="name">Name</option>
                <option value="Price" id="price">Price</option>
            </select>
        </div>
        <div id="container" class="container"><p>please wait...</p>
            <div class="row"></div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "javascript/filter.js" %}"></script>
{% endblock %}