{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card-container">
            <form method="post" class="form form-horizontal">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Login" />
            </form>
        </div>
    </div>
    <div>
        <a href="/user/register"><h5 style="font-size: 1rem">Register</h5></a>
    </div>
    <script type="text/javascript" src="{% static "javascript/profile.js" %}"></script>

{% endblock %}