{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row profileContainer">
        <img src="../static/images/paulblart.png" class="profilePic rounded-circle col-md-2" alt="You">


    <div class="profileText col-md-5">
        <p2>Profile Info</p2>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    </div>
    </div>
{% endblock %}