{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
     <div>
         <a href="{% url "edit_profile" %}">
            <button class="btn btn-primary" type="button">Edit Profile</button>
         </a>
    </div>
        <div class="profileContainer">
            <img alt="Profile Picture" class="col-2" id="profilePic" src="{{ user.profile_pic }}">
            <div class="profileText">
                <H1>Profile Info</H1>
                <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                <p>Phone number: {{ user.phone_number }}</p>
                <p>Email: {{ user.email }}</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "javascript/profile.js" %}"></script>
{% endblock %}

{#https://pyxis.nymag.com/v1/imgs/d95/e05/ebe005867dedfb1c774db5bfac2e4f13cf-17-paul-blart-mall-cop-2.rsquare.w700.jpg#}