{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
     <div>
         <a href="{% url "edit_profile" %}">
            <button class="btn btn-primary" type="button">Edit Profile</button>
         </a>
    </div>
        <div class="profileContainer">
            <img alt="Profile Picture" class="col-2" id="profilePic" src="{{ profile.profile_pic }}">
            <div class="profileText">
                <H2>Profile Info</H2>
                <h5>Name: </h5><p>{{ profile.first_name }} {{ profile.last_name }}</p>
                <h5>Phone number: </h5><p>{{ profile.phone_number }}</p>
                <h5>Email: </h5><p>{{ profile.email }}</p>
            </div>
        </div>
      <div>
        <a href="{% url 'history' %}">
            <button class="btn btn-primary">Recently viewed items</button>
        </a>
    </div>
    </div>

{% endblock %}

