{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign Up - {{ block.super }}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Sign Up</h4>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <form class="form form-horizontal" method="post" >
                    {% csrf_token %}
                    {{ form }}
    <input type="submit" class="btn btn-primary" value="Sign up!">
    </form>


     <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Related Links</h4>
            <p>
                <a href="/reset-password/">Forgot Password?</a> <br>
                <a href="{% url 'login' %}">Login</a> <br>
            </p>
     </div>

    </div>

{% endblock %}