{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign Up - {{ block.super }}
{% endblock %}
{% block content %}
    <div id="reg_container" >
        <div>
            <h2>Sign Up</h2>
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <form id="form_reg" class="form form-horizontal" method="post" >
                    {% csrf_token %}
                    {{ form }}
            <br>
            <input type="submit" class="btn btn-primary" value="Sign up!">
        </form>

        <div>
                <br>
                <a href="/reset-password/"><h5 style="font-size: 1rem">Forgot Password?</h5></a>
            <a href="{% url 'login' %}"><h5 style="font-size: 1rem">Login</h5></a>
        </div>
    </div>

{% endblock %}