{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container d-flex justify-content-center flex-column">
        <div id="order_success">
            <div class="row d-flex justify-content-center">
                    <h5 class="success">Thank you for ordering From Captain Console {{ user.username }}!</h5>
                    <h5 class="success">Your order has been placed and we are working on it!</h5>

            </div>
            <br>
            <div class="row d-flex justify-content-center">
                <a href="{% url 'store_index' %}">
                    <button class="btn btn-primary">Go to store</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}