{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <form action="/store/checkout/payment/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'address' %}
                        <div class="personalInfo">

                            {{ field }}
                        </div>
                    {% elif field.name == 'country' %}
                        <div class="personalInfo">

                            {{ field }}
                        </div>
                    {% elif field.name == 'city' %}
                        <div class="personalInfo">

                            {{ field }}
                        </div>
                    {% elif field.name == 'country' %}
                        <div class="personalInfo">

                            {{ field }}
                        </div>
                    {% elif field.name == 'zip_code' %}
                        <div class="personalInfo">

                            {{ field }}
                        </div>

                    {% else %}
                    <div class="paymentInfo">

                        {{ field }}
                    </div>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-lg btn-primary" type="submit">Confirm payment</button>
            </form>

        </div>
    </div>
{% endblock %}