{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            {# Temp lausn need to fix fyrir CVC, MM, YY -Arnar#}
            <form>
                <input type="text" placeholder="CVC" class="form-control">
                <input type="number" placeholder="MM" class="form-control">
                <input type="number" placeholder="YY" class="form-control">
            </form>
            <form action="/store/checkout/payment/" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-lg btn-primary" type="submit">Add to basket</button>
            </form>

        </div>
    </div>
{% endblock %}