{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row" style="color: #373f4f">Full Name: {{ data.full_name }}</div>
                <div class="row" style="color: #373f4f">Cardholder Name: {{ data.cardholder_name }}</div>
                <div class="row" style="color: #373f4f">CVC: {{ data.cvc }}</div>
                <div class="row" style="color: #373f4f">Expiration date: {{ data.exp_mm }}/{{ data.exp_yy }}</div>
                <div class="row" style="color: #373f4f">Credit Card: {{ data.card_number }}</div>
                <div class="row" style="color: #373f4f">Address: {{ data.address }}</div>
                <div class="row" style="color: #373f4f">Country: {{ data.country }}</div>
                <div class="row" style="color: #373f4f">City: {{ data.city }}</div>
                <div class="row" style="color: #373f4f">Zip-Code: {{ data.zip_code }}</div>
            </div>
            <br>
            <form action="{%url 'edit_payment' %}" method="post">
                <div style="display: None">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit">Edit Payment</button>
            </form>

            <form action="{% url 'confirmation' %}" method="post"/>
                <div style="display: None">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit">Confirm</button>
            </form>

            <div>
                {% for item in cart_items %}
                    <div class="cart_item">
                        <img id="cart_image" src="{{ item.image }}" alt="">
                        <h5 id="prod_name"> {{ item.product }} </h5>
                        <p id="quantity">price:  {% widthratio item.price 1 item.quantity %} quantity: {{ item.quantity }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}