
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col">
            <h5 class="text-uppercase mt-3 mb-4">Help and info</h5>
            <p>About us</p>
            <p>Track order</p>
            <p>FAQ</p>
        </div>
        <div class="col">
            <!-- Text -->
            <h5 class="text-uppercase mt-3 mb-4">Opening hours</h5>
            <p>Mon-Fri: 9.00 - 16.00</p>
            <p>Sat-Sun: 12.00 - 17.00</p>
        </div>
        <div class="col">
        <!-- Links -->
            <h5 class="text-uppercase mt-3 mb-4">Visit us at:</h5>
            <p>4 Privet Drive</p>
            <p>Little Whinging</p>
            <p>Surrey, U.K.</p>
        </div>

</footer>