
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

            <!-- Text -->
            <h5 class="text-uppercase mt-3 mb-4">Opening hours</h5>
            <p>Mon-Fri: 9.00 - 16.00</p>
            <p>Sat-Sun: 12.00 - 17.00</p>
        </div>
        <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="text-uppercase mt-3 mb-4">Visit us at:</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

       </div>
</footer>