 <!-- Main Navigation bar -->
 {%  load static %}
    <h5 id="header"> CAPTAIN CONSOLE</h5>
    <nav id="main_nav" class="navbar sticky-top navbar-light">
        <div>
            <img id="logo_pic" src="{% static "images/CClogo.png" %}">
        </div>
        <div id="nav_links">
            <h5><a class="nav_link" href="/">Home</a></h5>
            <h5><a class="nav_link" href="/store">Store</a></h5>
            <h5><a class="nav_link" href="/contact_us">Contact Us</a></h5>
        </div>
        <div id="search_div">
            <form id="search_form" action="/store">
                {% csrf_token %}
                <input type="text" id="search" name="query" placeholder="search">
            </form>
        </div>
        <div id="nav_icons" >
            {% if user.is_authenticated %}
                <h5><a class="logInOut nav_link" href="{% url "logout" %}">Log out</a></h5>
            {% else %}
                <h5><a class="logInOut nav_link" href="/user">Log in</a></h5>
            {% endif %}
            <a class="nav_icon" href="/user/profile"><i class="fas fa-user"></i></a>
            <a class="nav_icon" href="/store/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>

    </nav>